= form_for @question, html: {class: 'baseform qa'} do |f|
  
  - if @question.errors.any? 
    .flash-wrapper
      .flash.error
        = t 'errors.template.header', model: t('.clinic'), count: @question.errors.count

  = f.label :title
  .field= f.text_field :title, class: 'text-input'

  = f.label :content
  .field= f.text_area :content


  = f.label :tag_list
  = f.text_field :tag_list, class: 'text-input', "data-pre" => f.object.tag_list.sort.collect {|t| {id: t, name: t } }.to_json

  .vspace
  = f.submit t('simon_asks.questions.ask'), class: 'btn'

:javascript
  $(function() {
    $("#question_tag_list").tokenInput("/tags.json?model=SimonAsks::Question", {
      crossDomain: false,
      preventDuplicates: true,
      noResultsText: "#{t('search.tags.noresults')}",
      hintText: "#{t('search.tags.hint_qa')}",
      searchingText: "#{t('search.tags.process')}",
      animateDropdown: false,
      allowCustomEntry: true,
      theme: "facebook"
    });
  });
