.question-item.with-image
  .image= image_tag question.image.main
  .stats-wrapper
    .stats
      .votes
        %span.vote-count
          %strong= question.score
        .viewcount= t('simon_asks.questions.voutes', count: question.score)
      .answers
        %span.answer-count
          %strong= number_of_answers(question)
        .viewcount= t('simon_asks.questions.answers', count: question.answers_count)
  .summary
    %h3= link_to question.title, question
    %p= truncate(question.content, length: 300)
    .meta
      .views= t('simon_asks.questions.views', count: question.views_count)
      .tags= t('simon_asks.questions.tags') + ': ' + show_tag_list(question)
      .author= = link_to show_user_name(question.user), account_profile_path(question.user)
      .date= l question.updated_at
