- # Navigation
- ##############
.nav
  .location-title.fleft{ style: 'width: 400px; '}
    = link_to t('questions.show.all_questions'), questions_path
    %span= "> #{@question.title}"

- # Sidebar
- ##############
.search-bar
  = render 'simon_asks/questions/sidebar'
  - if @related_questions.size > 0
    = render 'simon_asks/questions/similar_questions'

- # Right area
- ##############
.med-page-content
  .question
    = render 'simon_asks/questions/item', { question: @question, full: true }

  -# Answers
  .answers
    #answers-list
      = render partial: 'simon_asks/question_answers/answer', collection: SimonAsks::QuestionAnswer.unscoped.where(:question_id => @question.id).order('accepted desc')

    - if current_user and not @question.has_answer_by?(current_user)
      #add_answer.loader.hidden
        = image_tag 'ajax-loader.gif'
      #add_answer_block.new-answer
        %h3= t('simon_asks.questions.your_answer')
        = render partial: 'simon_asks/question_answers/form', locals: { answer: @answer, question: @question }

:javascript
  SimonAsks.preload([
    '#{asset_path('ajax-loader-mini.gif')}'
  ]);
