.content.title-row
  %h2= t('simon_asks.questions.edit_comment')

= form_for @comment, url: question_answer_comment_path(@question, @answer, @comment) do |f|
  .controls-row.big-margin.clearfix
    .btn-wrap.silver.subject
      .hint= f.label :content
      = f.text_area :content
  .controls-row.big-margin.clearfix
    .btn-wrap.gray
      = f.submit t('simon_asks.questions.edit_comment'), class: 'btn green submit'
